.cat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}

.cat-breed{
    flex: 1 1 300px;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.cat-breed:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.cat-breed img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.cat-breed:hover img{
    transform: scale(1.03);
}

.cat-breed h3{
    margin: 0.5em 0;
}

.cat-breed p{
    margin: 0.5em 0.1em;
}

@media screen and (max-width: 600px) {
    .cat-container .cat-breed {
        flex: 1 1 100%;
        max-width: 100%;
    }
}